<!DOCTYPE html>
<html>
<head>
    <title>Hello, World!</title>
</head>
<body>
    <form method="POST" action = "/">
        <label for="latitude">Enter latitude:</label>
        <input type="text" id="latitude" name="latitude" required>
        <br><br>
        <label for="longitude">Enter longitude:</label>
        <input type="text" id="longitude" name="longitude" required>
        <br><br>
        <label for="altitude">Enter altitude:</label>
        <input type="text" id="altitude" name="altitude" required>
        <br><br>
        <label for="airspeed">Enter airspeed:</label>
        <input type="text" id="airspeed" name="airspeed" required>
        <br><br>
        <label for="groundspeed">Enter groundspeed:</label>
        <input type="text" id="groundspeed" name="groundspeed" required>
        <br><br>
        <label for="lat2">Enter latitude 2:</label>
        <input type="text" id="lat2" name="lat2" required>
        <br><br>
        <label for="lon2">Enter longitude 2:</label>
        <input type="text" id="lon2" name="lon2" required>
        <br><br>
        <label for="lat3">Enter latitude 3:</label>
        <input type="text" id="lat3" name="lat3" required>
        <br><br>
        <label for="lon3">Enter longitude 3:</label>
        <input type="text" id="lon3" name="lon3" required>
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
